* {
  margin-right: 0;
}

/* Common shared font */
body {
  font-family: "Open Sans", sans-serif;
}

/* Navigation styles */

nav {
  display: flex;
  align-items: center;
  /* justify-content used for spacing around the properties */
  justify-content: space-between;
  margin: 0 200px;
}

/* Immadiate ul gula flex korar jonno */
nav > ul {
  display: flex;
  align-items: center;
}

/* Dotted list to none */
nav li {
  list-style: none;
  margin-right: 50px;
}

/* nav > a = underline bad dewar jonno */
nav a {
  text-decoration: none;
  color: var(--dark-02, #474747);
  font-size: 20px;
  font-weight: 400;
}

/* Mary style */
.nav-title {
  color: var(--dark-01, #181818);
  /* font-family: Open Sans; */
  font-size: 45px;
  /* font-style: normal; */
  font-weight: 800;
  /* line-height: normal; */
}

/* Text color Primary- Orange */
.text-primary {
  color: #fd6e0a;
}

/*  */
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;

  border: 0;
  padding: 15px 35px;

  color: var(--white-color, #fff);
  font-size: 20px;
  font-weight: 700;
}

/* Header related styles */
/* Jhankar used header class */
header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Banner section syles starts here */
/* Banner- writings */
.banner {
  padding: 30px 30px 0px 150px; /* Top, Right, Bottom, Left */
  display: flex;
  align-items: center;

  justify-content: space-between; /* space between creates spaces between contents so that they move left and righ gapping in the middle */
}

.banner-content {
  max-width: 500px;
}

.profile-pic {
  width: 500px;
  margin-bottom: 0;
}

.banner-greetings {
  color: var(--dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-title {
  color: var(--dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner-description {
  color: var(--dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */

  margin-top: 20px;
  max-width: 585px;
  margin-bottom: 0px;
}

.btn-primary {
  color: var(--white-color, #fff);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

/* main section styles */

/* about section */
.about {
  /* max-width: 1140px; */
  padding: 130px;
  margin-top: 30px 0px;
}

.section-title {
  color: var(--dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: var(--dark-03, #757575);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
